<h1>Borrowed Books List</h1>
<%= link_to "Borrow a book", new_borrowed_book_path%>
<table>
    <tr>
        <th>Borrow ID</>
        <th>Book Title</>
        <th>User Name</>
        <th>Available</>
    </tr>
    <% @borrowed_books.each do |borrowed_book|%>
    <tr>
        <td><%= borrowed_book.id%></td>
        <td><%= borrowed_book.book.title%></td>
        <td><%= borrowed_book.user.name%></td>
        <td><%= borrowed_book.book.available%></td>
    </tr>
    <% end %>
</table>
