<h2>New Book</h2>
<%= form_with model: @book do |form| %>
    <%= form.label :title, "Book Title"%><br>
    <%= form.text_field :title%><br>
    <%= form.label :category, "Category"%><br>
    <%= form.select :category_id, options_for_select(Category.all.pluck(:name, :id))%><br>
    <%= form.label :available, "Available"%><br>
    <%= form.radio_button :available, "true" %>
    <%= form.label :true, "True" %>
    <%= form.radio_button :available, "false" %>
    <%= form.label :false, "False" %><br>
    <%= form.submit %>
<% end %>